@import './common/variables';
@import './common/functions';
@import './common/mixins';
@import './common/reset';
@import './common/transitions';
@import './common/fonts';

body {
    background: #fff;
    margin: 0 auto;
    font-family: $base-font;
}