@import './common/variables';
@import './common/functions';
@import './common/mixins';
@import './common/reset';
@import './common/transitions';

body {
    overflow: hidden;
    background: #fff;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}