/* Media queries mixins */

$breakpoints: (
    //xxs: 0,
    xs: 360px,
    sm: 767px,
    md: 991px,
    lg: 1279px,
    xl: 1439px,
    xxl: 1919px,
);

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

/* Adds mixins */

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src:
            url('~~assets/fonts/' + $name + '.ttf') format('ttf');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin hover {
    @media (hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            @content;
        }
    }
}
