$base-font: "Suisse Intl", sans-serif;
$base-font-size: 1.6rem;
$font-size-mobile: 14px;
$line-height: 1.25;
$letter-spacing: -.005em;
$default-transition: .4s ease;

/* Grid */

$container-width: 1600px;
$side-padding: 2.4rem;
$side-padding-small: 1.6rem;
$header-h: 7.2rem;
$header-h-mobile: 5.6rem;
$footer-h: 80.6rem;

$base-black: #1C1D21;
$base-grey: #31353D;
$base-dark-blue: #445878;
$base-light-blue: #92CDCF;
$base-white: #EEEFF7;

$base-success: #00B000;
$base-error: #E74C3C;

$header-hide: 5.5rem;

$base-font: "The Moon", sans-serif;